@charset "UTF-8";

.cores01{
    color:white;                  /* Representação por nomes */
    background-color: blue;
}

.cores02{
    color: #ffffff;               /* Representação por código hexadecimal */
    background-color: #0000ff;
}

.cores03{
    color: rgb(255, 255, 255);    /* Representação por código RGB */
    background-color: rgb(0, 0, 255);
}

.cores04{
    color: hsl(0, 0%, 100%);      /* Hue = matiz, Saturation = saturação, Luminosity = luminosidade */
    background-color: hsl(240, 100%, 50%);
}