@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

div > p{     /* => parágrafo dentro da div */
    display: none;
}

div:hover > p{
    display: block;
    color: white;
    background-color: red;
    width: 300px;
}

div:hover{
    color: red;
}


/*
    CSS     HTML                Exemplo
    #	    id                  id="unico"
    .   	class               class="especial"
    :	    pseudo-class        a:active
    ::  	pseudo-element      a::before
    >	    children            div > p {...}
*/